<header>
    <nav>
        {{#with topNav}}

            <ul>
                <li class="{{expiredata}}"><a href="/expiredata">Expire Account Data Balance</a></li>
                <li class="{{changeacctstate}}"><a href="/changeacctstate">Change Account State</a></li>
                <li class="{{changephonecontact}}"><a href="/changephonecontact">Change Account Contact</a></li>
                <li class="{{unlimitedtransfer}}"><a href="/unlimitedtransfer">Transfer Unlimited</a></li>
            </ul>

            <ul>
                <li class="{{managerecurrent}}"><a href="/managerecurrent">Disable Account Recurrent Bundle</a></li>
                <li class="{{changeproduct}}"><a href="/changeproduct">Change Account Service Class </a></li>
                <li class="{{adjustexpiry}}"><a href="/adjustexpiry">Adjust Account Balance Expiry Date</a></li>
            </ul>

            <ul>
                <li class="{{cashtransfer}}"><a href="/cashtransfer">Transfer Cash</a></li>
                <li class="{{payweeklyopt}}"><a href="/payweekly-optout">Pay Weekly Opt-Out</a></li>
                <li class="{{payweeklyrec}}"><a href="/payweekly-reconnect">Pay Weekly Reconnect</a></li>

            </ul>

        {{/with}}

    </nav>
</header>



