{{#if l3}}
    {{> sideNav }}
{{else if l2}}
    {{> sideNavlevel_two }}
{{else }}
    {{> sideNavlevel_one }}
{{/if}}

<div class="all-container">

    <div class="all-main-content">
        <div class="all-main-content-wrapper">
            <div class="form-wrapper-transfer">
                <div class="transfer-widget-wrapper">
                    <div class="manageVoucher-error" id="transfer-error">
                        <button id="times-button-error" class="times-button">&times;</button>
                        <i class="fas fa-exclamation-triangle"></i>
                        <small></small>
                    </div>

                    <div class="manageVoucher-success" id="transfer-success">
                        <button id="times-button-success" class="times-button">&times;</button>
                        <i class="fas fa-thumbs-up"></i>
                        <small></small>
                    </div>

                    <div id="progressIndicatorTransfer" class="progressIndicator" >
                        <img src="/images/ajax-loader.gif" alt="Loading...">
                    </div>
                </div>

                <form action="" id="transfer-form">
                    <div class="form-body-transfer">


                        <div class="form-control">
                            <fieldset>
                                <legend>Donor</legend>
                                <label><span class="t_required">From:</span><input type="text" name="from-msisdn" required id="from-msisdn"></label>
                                <label><span class="t_required">Amount(GB):</span><input type="text" name="from-amount" required   id="from-amount"></label>
                                <label><span class="t_required">Bundle:</span><select name="from-bundle" id="from-bundle" required>
                                    {{#each balanceTypes}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}

                                </select></label>
                            </fieldset>
                        </div>
                        <div class="form-control">
                            <button type="submit">Send</button>
                        </div>
                        <div class="form-control">
                            <fieldset>
                                <legend>Recipient</legend>
                                <label><span class="t_required">To:</span><input type="text" name="to-msisdn" required id="to-msisdn"></label>
                                <label><span class="t_required">Bundle:</span><select name="to-bundle" id="to-bundle">
                                    {{#each balanceTypes}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}

                                </select></label>
                                <label><span>Validity:</span><input type="number" name="to-validity" min="1" id="to-validity" ></label>
                                <label>
                                    <div class="validity-type">
                                        <label ><input name="period-transfer" type="radio" value="days" checked>Days</label>
                                        <label ><input name="period-transfer" type="radio" value="month">Months</label>
                                    </div>
                                </label>



                            </fieldset>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>
</div>
